 /* 在Editor属性中加 {"size":"ss"} 则高度在100-800之间自动伸缩 */
.amis-scope .cxd-EditorControl--ss {
  min-height: 100px;
  max-height: 800px;
}

.amis-scope .cxd-EditorControl--ss > .cxd-MonacoEditor {
  min-height: 100px;
  max-height: 800px;
}

.amis-scope .cxd-EditorControl--600 {
  min-height: 600px;
  max-height: 600px;
}

.amis-scope .cxd-EditorControl--600 > .cxd-MonacoEditor {
  min-height: 600px;
  max-height: 600px;
}

.amis-scope .cxd-EditorControl--max {
  min-height: 800px;
  max-height: 800px;
}

.amis-scope .cxd-EditorControl--max > .cxd-MonacoEditor {
  min-height: 800px;
  max-height: 800px;
}

.amis-scope .cxd-EditorControl--full {
  min-height: 100%;
  max-height: 100%;
}

.amis-scope .cxd-EditorControl--full > .cxd-MonacoEditor {
  min-height: 100%;
  max-height: 100%;
}